@section Page_Level_Css {
    <style>
        .job-details ul {
            padding-left: 0px !important;
        }
    </style>
}

<main>
    <section class="page-header">
        <div class="container">
            <h1>Latest Job Openings</h1>
            <p>Join our growing team at Shivanshu Cafe</p>
        </div>
    </section>

    <section class="jobs-section">
        <div class="container">
            <div class="jobs-intro">
                <p>We're always looking for talented and enthusiastic individuals to join our team. Check out our current openings below and become part of the Shivanshu Cafe family!</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 col-12 mb-4">
                    <div class="job-card">
                        <div class="job-header">
                            <h5>IB ACIO Gr-II/Tech Online Form 2025</h5>
                        </div>
                        <div class="job-body">
                            <p class="job-description">Notification for the recruitment of ACIO Grade II / Technical for 2025. Interested candidates may apply online.</p>
                            <div class="job-details">
                                <h4>Important Details:</h4>
                                <ul>
                                    <li>Recruitment for ACIO Grade II / Technical 2025.</li>
                                    <li>Online form start date: 01 July 2025. (source: sarkariresult.com.cm)</li>
                                    <li>Last date: 28 July 2025 (extended). (source: sarkariresult.com.cm)</li>
                                </ul>
                            </div>
                            <div class="job-apply">
                                <h4>How to Apply:</h4>
                                <p><a href="https://sarkariresult.com.cm/ibps-specialist-officer-so-15th-online-form-2025/">Apply Here</a></p>
                            </div>
                        </div>
                        <div class="job-footer">
                            <a href="https://sarkariresult.com.cm/ibps-specialist-officer-so-15th-online-form-2025/" class="btn btn-small">Apply Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12 mb-4">
                    <div class="job-card">
                        <div class="job-header">
                            <h5>EMRS Teaching/Non-Teaching Various Posts 2025</h5>
                        </div>
                        <div class="job-body">
                            <p class="job-description">Online form started for EMRS Teaching & Non-Teaching posts for 2025.</p>
                            <div class="job-details">
                                <h4>Important Details:</h4>
                                <ul>
                                    <li>Posts: Teaching & Non-Teaching in EMRS for 2025.</li>
                                    <li>Status: Last date today. (source: sarkariresult.com.cm)</li>
                                </ul>
                            </div>
                            <div class="job-apply">
                                <h4>How to Apply:</h4>
                                <p><a href="https://sarkariresult.com.cm/emrs-teaching-non-teaching-online-form-2025-last-date-today/">Apply Here</a></p>
                            </div>
                        </div>
                        <div class="job-footer">
                            <a href="https://sarkariresult.com.cm/emrs-teaching-non-teaching-online-form-2025-last-date-today/" class="btn btn-small">Apply Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12 mb-4">
                    <div class="job-card">
                        <div class="job-header">
                            <h5>SSC Delhi Police Constable (7565 Posts) 2025</h5>
                        </div>
                        <div class="job-body">
                            <p class="job-description">Online registration for SSC Delhi Police Constable recruitment 2025 (7565 posts) has begun.</p>
                            <div class="job-details">
                                <h4>Important Details:</h4>
                                <ul>
                                    <li>Number of posts: 7,565. (source: sarkariresult.com.cm)</li>
                                    <li>Status: Application window extended. (source: sarkariresult.com.cm)</li>
                                </ul>
                            </div>
                            <div class="job-apply">
                                <h4>How to Apply:</h4>
                                <p><a href="https://sarkariresult.com.cm/ssc-delhi-police-constable-online-form-2025-7565-posts-extend/">Apply Here</a></p>
                            </div>
                        </div>
                        <div class="job-footer">
                            <a href="https://sarkariresult.com.cm/ssc-delhi-police-constable-online-form-2025-7565-posts-extend/" class="btn btn-small">Apply Now</a>
                        </div>
                    </div>
                </div>


            </div>

            <div class="jobs-cta text-center mt-4">
                <h3>Don't See a Perfect Match?</h3>
                <p>We're always interested in meeting talented individuals. Send us your resume and we'll keep you in mind for future opportunities!</p>
                <a href="contact.html" class="btn btn-primary">Send Your Resume</a>
            </div>
        </div>
    </section>

</main>
@section Scripts {
}